#nav{
	 /*text-align: center; /* 让图片水平居中 */*/
	/*background-color: rgb(230,230,230);*/
}
#product-list{
	position: relative;
	padding-top: 20px; 
	width: 235px;
	height: 460px;
	background-color: rgba(0,0,0,0.5);
}
.first-nav div{
	cursor: pointer;
}
.first-nav:hover{
	background-color: rgb(255,102,0);
}
.first-nav:hover .product-exhibition{
	display: block;
}
.first-nav strong{
	font-size: 20px;
	line-height: 42px;
	margin-left: 30px;
}
.product-exhibition{
	display: none;
	position: absolute;
	left: 235px;
	top: 0px;
	height: 480px;
	width: 800px;;
	background: rgb(230,230,230);;
}